:root {
    --primary-color: #66fcf1;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.animated-text {
    font-size: x-large;
    color: #fff;
    text-decoration: none; /* Remove default underline */
    position: relative; /* Required for animation positioning */
    transition: color 0.3s ease-in-out; /* Transition for color change */
}

.animated-text:after {
    content: ""; /* Add pseudo-element for underline */
    position: absolute;
    width: 100%; /* Match text width */
    height: 2px; /* Underline thickness */
    bottom: -2px; /* Position underline below the text */
    left: 0; /* Align underline with text */
    background-color: transparent; /* Initial underline color (transparent) */
    /*transition: all 0.3s ease-in-out;  Transition for hover animation */
}

.animated-text:hover:after {
    background-color: var(--primary-color); 
    animation: underline-animation 0.3s ease-in-out forwards; /* Trigger animation on hover */
}

.animated-text:hover {
    color: var(--primary-color); /* Change text color on hover */
}

@keyframes underline-animation {
    from { width: 0; } /* Underline starts from 0 width */
    to { width: 100%; } /* Underline animates to full width */
}



nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.button {
    background-color: transparent; /* Initial background (transparent) */
    color: var(--primary-color); /* Initial text color (primary) */
    border: 2px solid var(--primary-color); /* Solid border (primary) */
    padding: 15px 25px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Transition for hover effects */
  }
  
  .button:hover {
    background-color: var(--primary-color); /* Background becomes primary on hover */
    color: black; /* Text becomes black on hover */
  }



  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    background-color: #000;
     /* min-height: 100vh; */
}

.hero .content {
    max-width: 50%;
    opacity: 0;
    transform: translateX(-20px);
}

.hero h2 {
    margin-bottom: 10px;
}



.hero .main-heading {
    margin-top: 0;
    font-size: 5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.button-container {
    display: flex; /* Arrange buttons horizontally */
    gap: 20px;
    align-items: center;
    
  }
  
  .explore-btn {
    background-color: var(--primary-color); /* Always primary color */
    color: black; /* Always black text */
    border: 2px solid var(--primary-color);
    padding: 15px 25px;
    font-size: 1.2em;
    cursor: pointer; /* Indicate clickable button */
  }
  .explore-btn:hover {
    background-color: coral;
    border: 2px solid coral;
  }

/* Play Button Styles */
.play-button {
    width: 50px;       /* Reduced size */
    height: 50px;      /* Reduced size */
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12.5px solid black;  /* Reduced size */
    border-top: 7.5px solid transparent; /* Reduced size */
    border-bottom: 7.5px solid transparent; /* Reduced size */
    position: absolute;
    left: 20px;       /* Adjusted position */
}



.hero-image {
    opacity: 0;
    transform: translateX(20px);
}

.hero-image img {
    max-height: 600px;
    width: 100%; /* Ensuring the image scales properly */
    object-fit: cover; /* Ensuring the image maintains aspect ratio */
}





/* Additional Content Section Styles */
.content-section {
    padding: 50px 100px;
    background-color: #111;
    border-top: 1px solid #333;
    opacity: 0;
    transform: translateY(20px);
}

.content-section:nth-child(even) {
    background-color: #0b0c10;
}


/* Why Choose Us Section */
.why-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: white; /* Text color */
}

.why-choose-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-feature {
    flex: 1;
    padding: 50px;
    border: 2px solid var(--primary-color);
    margin-right: 10px;
    text-align: left;
}


.main-feature h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.main-feature p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.main-feature .explore-more {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.main-feature .explore-more:hover {
    background-color: var(--primary-color);
    color: #111;
}

.features {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    gap: 20px; /* Add a gap between flex items */
}

.feature {
    flex: 1 1 calc(50% - 20px); /* Adjusted width calculation */
    padding: 20px;
    text-align: left;
    box-sizing: border-box; /* Ensure padding and borders are included in the width/height */
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1.1em;
}






.new-dimention {
    color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.new-dimention-sub {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.new-dimention h1 {
    color:#fff;
    font-size: 3.5em;
}

.new-dimention-sub p {
    font-size: 1.2em;
}

.new-dimention-details {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}


/* New class for specific images */
.vr-image-container {
    width: 270px; /* Container width */
    height: 270px; /* Container height */
    border-radius: 3%;
    overflow: hidden; /* Hide overflow to ensure image stays within container */
    position: relative; /* Position relative for inner absolute positioning */
    margin: 0 10px; /* Add spacing between containers */
    display: inline-block; /* Ensure containers are displayed inline */
  }
  
  .vr-image {
    width: 100%; /* Image takes up full width of the container */
    height: 100%; /* Image takes up full height of the container */
    object-fit: cover; /* Maintain aspect ratio and fit within container */
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute; /* Position absolute to allow for scaling */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
  }
  
  .vr-image-container:hover .vr-image {
    transform: scale(1.05); /* Zoom effect on hover */
    opacity: 0.8; /* Slight decrease in opacity on hover */
  }

.new-dimention-features {
    display: flex;
    justify-content: space-between;
}
.new-dimention-features h2 {
    font-size: 2.5em;
    color: var(--primary-color)
}

.new-dimention-image {
    margin-left: 5px;
    margin-right: 100px;
}

.new-dimention-image img {
    width: 100%; /* Ensuring the image scales properly */
    object-fit: cover; /* Ensuring the image maintains aspect ratio */
}







/* General CSS Rules for Animations */
[data-animate] {
    transition: all 1s ease-out;
}

[data-animate].animated {
    opacity: 1;
    transform: translate(0);
}

[data-animate="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-animate].animated {
    opacity: 1;
    transform: translateY(0);
}
